<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width" />
        <title>Tony Buổi Sáng Blog</title>
        <link rel="profile" href="http://gmpg.org/xfn/11" />
        <link rel="stylesheet" type="text/css" media="all" href="./css/style.css" />
        <link rel="stylesheet" type="text/css" media="all" href="./css/custom.css" />
        <link rel="pingback" href="xmlrpc.php" />
        <!--[if lt IE 9]>
        <script src="./js/html5.js" type="text/javascript"></script>
        <![endif]-->


        <!-- All in One SEO Pack 2.3.9.1 by Michael Torbert of Semper Fi Web Design[306,332] -->
        <meta name="description"  content="Tony Buổi Sáng Blog xây dựng nhằm mục đích chia sẻ văn hóa, nhìn đời với ánh mắt tích cực hơn cho giới trẻ." />
        <meta name="keywords"  content="Tony Buổi Sáng, Tony Buoi Sang" />
        <!-- /all in one seo pack -->

        <link rel='stylesheet' id='themonic-fonts-css'  href='http://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,latin-ext' type='text/css' media='all' />
        <link rel='stylesheet' id='fontawesome-css-css'  href='./font/font-awesome.min167b.css' type='text/css' media='all' />
    </head>
    <body class="home blog custom-font-enabled single-author">

        <div id="page" class="hfeed site">
            <header id="masthead" class="site-header" role="banner">
                <div class="hgroup">
                    <a href="index.html" title="Tony Buổi Sáng Blog" rel="home">Mony Buổi Sáng Blog</a>
                    <br/> 
                    <a class="site-description">Just funny for life</a>
                </div>
                <div class="socialmedia">
                    <a href="https://twitter.com/tonybuoisangnet" target="_blank"><img src="./images/twitter.png" alt="Follow us on Twitter"/></a> 
                    <a href="https://www.facebook.com/tonybuoisangblog/" target="_blank"><img src="./images/facebook.png" alt="Follow us on Facebook"/></a>
                    <a href="https://plus.google.com/+TonybuoisangNetBlog" rel="author" target="_blank"><img src="./images/gplus.png" alt="Follow us on Google Plus"/></a>
                </div>

                <nav id="site-navigation" class="themonic-nav" role="navigation">
                    <a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
                    <div id="menu-top" class="nav-menu">
                        <ul>
                            <li class="current_page_item">
                                <a href="index.html">Trang chủ</a>
                            </li>
                            <li class="page_item page-item-8">
                                <a href="gioi-thieu.html">Giới thiệu</a>
                            </li>
                            <li class="page_item page-item-6">
                                <a href="lien-he.html">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                </nav><!-- #site-navigation -->
                <div class="clear"></div>
            </header><!-- #masthead -->

            <div id="main" class="wrapper">
                <div id="primary" class="site-content">
                    <div id="content" role="main">
                        <article id="post-1433" class="post-1433 post type-post status-publish format-standard has-post-thumbnail hentry category-chuyen-kinh-doanh">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="nu-nhi-thuong-tinh.html" title="Permalink to Nữ nhi thường tình" rel="bookmark">Nữ nhi thường tình</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-summary">
                                <!-- Ico nic One home page thumbnail with custom excerpt -->
                                <div class="excerpt-thumb">
                                    <a href="nu-nhi-thuong-tinh.html" title="Permalink to Nữ nhi thường tình" rel="bookmark">
                                        <img width="200" height="140" src="./uploads/2016/08/nu-nhi-thuong-tinh-200x140.jpg" class="alignleft wp-post-image" alt="nu nhi thuong tinh" srcset="./uploads/2016/08/nu-nhi-thuong-tinh-200x140.jpg 200w, ./uploads/2016/08/nu-nhi-thuong-tinh-60x42.jpg 60w" sizes="(max-width: 200px) 100vw, 200px" />
                                    </a>
                                </div>
                                <p>Nữ nhi thường tình &#8211; Tony Buổi Sáng Tony lâu rồi không gặp gỡ ai vì lý do sức khỏe (mới đi mổ lưng bên Mỹ về nên dáng đi hem có được đẹp, mất máu cũng nhiều nên da mặt cũng hết hồng hào, may cấu trúc gương mặt tỷ lệ vàng 1.618 nên vẫn vô cùng… <span class="read-more"><a href="nu-nhi-thuong-tinh.html">Read More &raquo;</a></span></p>
                            </div>
                            <!-- .entry-summary -->
                            <footer class="entry-meta">
                                <div class="categories"><a href="chuyen-kinh-doanh.html" rel="category tag">Chuyện kinh doanh</a></div>
                                <div class="tags"></div>
                                <div class ="io-home-author-small" >
                                    <div class="io-home-avatar">
                                        <!-- .author-avatar -->
                                        <img alt='' src='./images/icon.jpeg' srcset='./images/icon.jpeg 2x' class='avatar avatar-24 photo' height='24' width='24' />					
                                        <div class="io-home-author-name"><span class="vcard author"><span class="fn">Tony Buổi Sáng</span> </span></div>
                                        <div style="display: block; clear: both;"></div>
                                    </div>
                                    <!-- .author-name-home -->	
                                </div>
                                <div class="clear"></div>
                            </footer>
                            <!-- .entry-meta -->
                        </article>
                        <!-- #post -->
                        <article id="post-1430" class="post-1430 post type-post status-publish format-standard has-post-thumbnail hentry category-chuyen-kinh-doanh">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="lay-tien-cua-tay.html" title="Permalink to Lấy tiền của Tây" rel="bookmark">Lấy tiền của Tây</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-summary">
                                <!-- Ico nic One home page thumbnail with custom excerpt -->
                                <div class="excerpt-thumb">
                                    <a href="lay-tien-cua-tay.html" title="Permalink to Lấy tiền của Tây" rel="bookmark">
                                        <img width="200" height="140" src="wp-content/uploads/2016/08/lay-tien-cua-Tay-200x140.jpg" class="alignleft wp-post-image" alt="lay tien cua Tay" srcset="http://www.tonybuoisangblog.com/wp-content/uploads/2016/08/lay-tien-cua-Tay-200x140.jpg 200w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/08/lay-tien-cua-Tay-60x42.jpg 60w" sizes="(max-width: 200px) 100vw, 200px" />				</a>
                                </div>
                                <p>Lấy tiền của Tây &#8211; Tony Buổi Sáng. Bài 1: Mần xuất khẩu Có mấy bạn trẻ nói nhà con trồng thanh long nhiều lắm, trong xóm cũng trồng nhiều mà 99% bán cho thương lái Trung Quốc, con giờ muốn buôn bán với Tây, phải làm sao đây dượng? Bèn trả lời như sau: 1. Thứ nhất… <span class="read-more"><a href="lay-tien-cua-tay.html">Read More &raquo;</a></span></p>
                            </div>
                            <!-- .entry-summary -->
                            <footer class="entry-meta">
                                <div class="categories"><a href="chuyen-kinh-doanh.html" rel="category tag">Chuyện kinh doanh</a></div>
                                <div class="tags"></div>
                                <div class ="io-home-author-small" >
                                    <div class="io-home-avatar">
                                        <!-- .author-avatar -->
                                        <img alt='' src='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=24&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=48&amp;d=mm&amp;r=g 2x' class='avatar avatar-24 photo' height='24' width='24' />					
                                        <div class="io-home-author-name"><span class="vcard author"><span class="fn">Tony Buổi Sáng</span> </span></div>
                                        <div style="display: block; clear: both;"></div>
                                    </div>
                                    <!-- .author-name-home -->	
                                </div>
                                <div class="clear"></div>
                            </footer>
                            <!-- .entry-meta -->
                        </article>
                        <!-- #post -->
                        <article id="post-1417" class="post-1417 post type-post status-publish format-standard has-post-thumbnail hentry category-ngam">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="con-duong-xua-em-di.html" title="Permalink to Con đường xưa em đi&#8230;" rel="bookmark">Con đường xưa em đi&#8230;</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-summary">
                                <!-- Ico nic One home page thumbnail with custom excerpt -->
                                <div class="excerpt-thumb">
                                    <a href="con-duong-xua-em-di.html" title="Permalink to Con đường xưa em đi&#8230;" rel="bookmark">
                                        <img width="200" height="140" src="wp-content/uploads/2016/06/con-duong-xua-em-di-200x140.jpg" class="alignleft wp-post-image" alt="con duong xua em di" srcset="http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/con-duong-xua-em-di-200x140.jpg 200w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/con-duong-xua-em-di-60x42.jpg 60w" sizes="(max-width: 200px) 100vw, 200px" />				</a>
                                </div>
                                <p>Con đường xưa em đi&#8230; Tony Buổi Sáng Một chị bạn kể lớp chị vừa họp lớp sau hơn 20 năm ra trường. Lớp chị có 20% dân ở tỉnh lên, 80% dân thành phố, vì cách tuyển ĐH lúc đó còn lạc hậu, còn thi khối A, B, C, D&#8230;và ra trong bộ đề, học sinh ở… <span class="read-more"><a href="con-duong-xua-em-di.html">Read More &raquo;</a></span></p>
                            </div>
                            <!-- .entry-summary -->
                            <footer class="entry-meta">
                                <div class="categories"><a href="ngam.html" rel="category tag">Ngẫm</a></div>
                                <div class="tags"></div>
                                <div class ="io-home-author-small" >
                                    <div class="io-home-avatar">
                                        <!-- .author-avatar -->
                                        <img alt='' src='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=24&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=48&amp;d=mm&amp;r=g 2x' class='avatar avatar-24 photo' height='24' width='24' />					
                                        <div class="io-home-author-name"><span class="vcard author"><span class="fn">Tony Buổi Sáng</span> </span></div>
                                        <div style="display: block; clear: both;"></div>
                                    </div>
                                    <!-- .author-name-home -->	
                                </div>
                                <div class="clear"></div>
                            </footer>
                            <!-- .entry-meta -->
                        </article>
                        <!-- #post -->
                        <article id="post-1411" class="post-1411 post type-post status-publish format-standard has-post-thumbnail hentry category-giao-duc">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="chuyen-ngoan-chuyen-hon.html" title="Permalink to Chuyện ngoan chuyện hỗn" rel="bookmark">Chuyện ngoan chuyện hỗn</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-summary">
                                <!-- Ico nic One home page thumbnail with custom excerpt -->
                                <div class="excerpt-thumb">
                                    <a href="chuyen-ngoan-chuyen-hon.html" title="Permalink to Chuyện ngoan chuyện hỗn" rel="bookmark">
                                        <img width="200" height="140" src="wp-content/uploads/2016/06/chuyen-ngoan-chuyen-hon-200x140.jpg" class="alignleft wp-post-image" alt="chuyen ngoan chuyen hon" srcset="http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/chuyen-ngoan-chuyen-hon-200x140.jpg 200w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/chuyen-ngoan-chuyen-hon-60x42.jpg 60w" sizes="(max-width: 200px) 100vw, 200px" />				</a>
                                </div>
                                <p>Chuyện ngoan chuyện hỗn &#8211; Tony Buổi Sáng Blog Chị Phương là chị họ của Tony, con cô Sáu Bình. Chị Phương học ĐH ngoại ngữ, làm hướng dẫn viên du lịch rồi lấy anh Paul người Mỹ. Nhà chị ở cách Los Angeles 1h đi xe, mỗi lần Tony đi Mỹ đều ghé thăm nhà chị. Chị… <span class="read-more"><a href="chuyen-ngoan-chuyen-hon.html">Read More &raquo;</a></span></p>
                            </div>
                            <!-- .entry-summary -->
                            <footer class="entry-meta">
                                <div class="categories"><a href="giao-duc.html" rel="category tag">Giáo dục</a></div>
                                <div class="tags"></div>
                                <div class ="io-home-author-small" >
                                    <div class="io-home-avatar">
                                        <!-- .author-avatar -->
                                        <img alt='' src='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=24&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=48&amp;d=mm&amp;r=g 2x' class='avatar avatar-24 photo' height='24' width='24' />					
                                        <div class="io-home-author-name"><span class="vcard author"><span class="fn">Tony Buổi Sáng</span> </span></div>
                                        <div style="display: block; clear: both;"></div>
                                    </div>
                                    <!-- .author-name-home -->	
                                </div>
                                <div class="clear"></div>
                            </footer>
                            <!-- .entry-meta -->
                        </article>
                        <!-- #post -->
                        <article id="post-1405" class="post-1405 post type-post status-publish format-standard has-post-thumbnail hentry category-giao-duc">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="chuyen-chua-ke-ve-ong-ly-gia-thanh.html" title="Permalink to Chuyện chưa kể về ông Lý Gia Thành" rel="bookmark">Chuyện chưa kể về ông Lý Gia Thành</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-summary">
                                <!-- Ico nic One home page thumbnail with custom excerpt -->
                                <div class="excerpt-thumb">
                                    <a href="chuyen-chua-ke-ve-ong-ly-gia-thanh.html" title="Permalink to Chuyện chưa kể về ông Lý Gia Thành" rel="bookmark">
                                        <img width="200" height="140" src="wp-content/uploads/2016/06/chuyen-chua-ke-ve-ong-ly-gia-thanh-200x140.png" class="alignleft wp-post-image" alt="chuyen chua ke ve ong ly gia thanh" srcset="http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/chuyen-chua-ke-ve-ong-ly-gia-thanh-200x140.png 200w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/chuyen-chua-ke-ve-ong-ly-gia-thanh-60x42.png 60w" sizes="(max-width: 200px) 100vw, 200px" />				</a>
                                </div>
                                <p>Chuyện chưa kể về ông Lý Gia Thành &#8211; Tony Buổi Sáng Blog Lý Gia Thành (Tiếng Anh đọc là Li Ka Shing, tiếng phổ thông TQ là 李嘉誠), một tỷ phú người Hồng Công- là doanh nhân có tầm ảnh hưởng nhất châu Á, ảnh hướng nhất không phải vì tài sản 35 tỷ đô la Mỹ… <span class="read-more"><a href="chuyen-chua-ke-ve-ong-ly-gia-thanh.html">Read More &raquo;</a></span></p>
                            </div>
                            <!-- .entry-summary -->
                            <footer class="entry-meta">
                                <div class="categories"><a href="giao-duc.html" rel="category tag">Giáo dục</a></div>
                                <div class="tags"></div>
                                <div class ="io-home-author-small" >
                                    <div class="io-home-avatar">
                                        <!-- .author-avatar -->
                                        <img alt='' src='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=24&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=48&amp;d=mm&amp;r=g 2x' class='avatar avatar-24 photo' height='24' width='24' />					
                                        <div class="io-home-author-name"><span class="vcard author"><span class="fn">Tony Buổi Sáng</span> </span></div>
                                        <div style="display: block; clear: both;"></div>
                                    </div>
                                    <!-- .author-name-home -->	
                                </div>
                                <div class="clear"></div>
                            </footer>
                            <!-- .entry-meta -->
                        </article>
                        <!-- #post -->
                        <article id="post-1394" class="post-1394 post type-post status-publish format-standard has-post-thumbnail hentry category-di-nuoc-ngoai">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="nhung-con-chim-o-ha-lan.html" title="Permalink to Những con chim ở Hà Lan" rel="bookmark">Những con chim ở Hà Lan</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-summary">
                                <!-- Ico nic One home page thumbnail with custom excerpt -->
                                <div class="excerpt-thumb">
                                    <a href="nhung-con-chim-o-ha-lan.html" title="Permalink to Những con chim ở Hà Lan" rel="bookmark">
                                        <img width="200" height="140" src="wp-content/uploads/2016/06/nhung-con-chim-o-ha-lan-200x140.jpg" class="alignleft wp-post-image" alt="nhung con chim o ha lan" srcset="http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/nhung-con-chim-o-ha-lan-200x140.jpg 200w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/nhung-con-chim-o-ha-lan-300x210.jpg 300w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/nhung-con-chim-o-ha-lan-768x537.jpg 768w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/nhung-con-chim-o-ha-lan-60x42.jpg 60w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/nhung-con-chim-o-ha-lan-665x465.jpg 665w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/nhung-con-chim-o-ha-lan.jpg 785w" sizes="(max-width: 200px) 100vw, 200px" />				</a>
                                </div>
                                <p>Những con chim ở Hà Lan &#8211; Tony Buổi Sáng Blog Năm 2006, Tony có 3 tháng đi Hà Lan học về nông nghiệp công nghệ cao, học bổng tự mày mò trên mạng và tự nộp đơn ứng tuyển. Từ thứ 2 đến thứ 6, Tony ở trong ký túc xá trong trường cho tiện việc học,… <span class="read-more"><a href="nhung-con-chim-o-ha-lan.html">Read More &raquo;</a></span></p>
                            </div>
                            <!-- .entry-summary -->
                            <footer class="entry-meta">
                                <div class="categories"><a href="di-nuoc-ngoai.html" rel="category tag">Đi nước ngoài</a></div>
                                <div class="tags"></div>
                                <div class ="io-home-author-small" >
                                    <div class="io-home-avatar">
                                        <!-- .author-avatar -->
                                        <img alt='' src='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=24&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=48&amp;d=mm&amp;r=g 2x' class='avatar avatar-24 photo' height='24' width='24' />					
                                        <div class="io-home-author-name"><span class="vcard author"><span class="fn">Tony Buổi Sáng</span> </span></div>
                                        <div style="display: block; clear: both;"></div>
                                    </div>
                                    <!-- .author-name-home -->	
                                </div>
                                <div class="clear"></div>
                            </footer>
                            <!-- .entry-meta -->
                        </article>
                        <!-- #post -->
                        <article id="post-1388" class="post-1388 post type-post status-publish format-standard has-post-thumbnail hentry category-giao-duc">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="quan-ban-than-tri-nguoi-khac.html" title="Permalink to Quản bản thân, trị người khác" rel="bookmark">Quản bản thân, trị người khác</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-summary">
                                <!-- Ico nic One home page thumbnail with custom excerpt -->
                                <div class="excerpt-thumb">
                                    <a href="quan-ban-than-tri-nguoi-khac.html" title="Permalink to Quản bản thân, trị người khác" rel="bookmark">
                                        <img width="200" height="140" src="wp-content/uploads/2016/06/quan-tri-ban-than-tri-nguoi-khac-200x140.jpg" class="alignleft wp-post-image" alt="quan tri ban than tri nguoi khac" srcset="http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/quan-tri-ban-than-tri-nguoi-khac-200x140.jpg 200w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/quan-tri-ban-than-tri-nguoi-khac-60x42.jpg 60w" sizes="(max-width: 200px) 100vw, 200px" />				</a>
                                </div>
                                <p>Chương trình hỏi đáp với Tony Bài 2: Quản bản thân, trị người khác Nhiều bạn hỏi học xong cấp 3, có nên học quản trị kinh doanh (QTKD) không? Là cựu sinh viên kinh tế trường HBS, và là chủ doanh nghiệp từ năm 2004 đến nay, trước đó có 8 năm đi làm việc chân tay… <span class="read-more"><a href="quan-ban-than-tri-nguoi-khac.html">Read More &raquo;</a></span></p>
                            </div>
                            <!-- .entry-summary -->
                            <footer class="entry-meta">
                                <div class="categories"><a href="giao-duc.html" rel="category tag">Giáo dục</a></div>
                                <div class="tags"></div>
                                <div class ="io-home-author-small" >
                                    <div class="io-home-avatar">
                                        <!-- .author-avatar -->
                                        <img alt='' src='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=24&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=48&amp;d=mm&amp;r=g 2x' class='avatar avatar-24 photo' height='24' width='24' />					
                                        <div class="io-home-author-name"><span class="vcard author"><span class="fn">Tony Buổi Sáng</span> </span></div>
                                        <div style="display: block; clear: both;"></div>
                                    </div>
                                    <!-- .author-name-home -->	
                                </div>
                                <div class="clear"></div>
                            </footer>
                            <!-- .entry-meta -->
                        </article>
                        <!-- #post -->
                        <article id="post-1377" class="post-1377 post type-post status-publish format-standard has-post-thumbnail hentry category-ngam">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="buoi-hop-lop-hom-ay.html" title="Permalink to Buổi họp lớp hôm ấy" rel="bookmark">Buổi họp lớp hôm ấy</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-summary">
                                <!-- Ico nic One home page thumbnail with custom excerpt -->
                                <div class="excerpt-thumb">
                                    <a href="buoi-hop-lop-hom-ay.html" title="Permalink to Buổi họp lớp hôm ấy" rel="bookmark">
                                        <img width="200" height="140" src="wp-content/uploads/2016/06/buoi-hop-lop-hom-ay-200x140.jpg" class="alignleft wp-post-image" alt="buoi hop lop hom ay" srcset="http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/buoi-hop-lop-hom-ay-200x140.jpg 200w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/buoi-hop-lop-hom-ay-60x42.jpg 60w" sizes="(max-width: 200px) 100vw, 200px" />				</a>
                                </div>
                                <p>Buổi họp lớp hôm ấy &#8211; Tony Buổi Sáng 1. Ở trường kinh doanh Harvard, trong môn quản trị nhân lực, sinh viên sẽ phải thảo luận câu nói này. Đại ý là &#8220;những cái đầu lớn (great minds) sẽ thảo luận về những ý tưởng. Những cái đầu bình thường (average minds) sẽ trao đổi về các… <span class="read-more"><a href="buoi-hop-lop-hom-ay.html">Read More &raquo;</a></span></p>
                            </div>
                            <!-- .entry-summary -->
                            <footer class="entry-meta">
                                <div class="categories"><a href="ngam.html" rel="category tag">Ngẫm</a></div>
                                <div class="tags"></div>
                                <div class ="io-home-author-small" >
                                    <div class="io-home-avatar">
                                        <!-- .author-avatar -->
                                        <img alt='' src='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=24&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=48&amp;d=mm&amp;r=g 2x' class='avatar avatar-24 photo' height='24' width='24' />					
                                        <div class="io-home-author-name"><span class="vcard author"><span class="fn">Tony Buổi Sáng</span> </span></div>
                                        <div style="display: block; clear: both;"></div>
                                    </div>
                                    <!-- .author-name-home -->	
                                </div>
                                <div class="clear"></div>
                            </footer>
                            <!-- .entry-meta -->
                        </article>
                        <!-- #post -->
                        <article id="post-1371" class="post-1371 post type-post status-publish format-standard has-post-thumbnail hentry category-giao-duc">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="tuoi-tre-phai-co-ngo.html" title="Permalink to Tuổi trẻ phải có ngờ" rel="bookmark">Tuổi trẻ phải có ngờ</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-summary">
                                <!-- Ico nic One home page thumbnail with custom excerpt -->
                                <div class="excerpt-thumb">
                                    <a href="tuoi-tre-phai-co-ngo.html" title="Permalink to Tuổi trẻ phải có ngờ" rel="bookmark">
                                        <img width="200" height="140" src="wp-content/uploads/2016/06/tuoi-tre-phai-co-ngo-200x140.jpg" class="alignleft wp-post-image" alt="tuoi tre phai co ngo" srcset="http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/tuoi-tre-phai-co-ngo-200x140.jpg 200w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/tuoi-tre-phai-co-ngo-60x42.jpg 60w" sizes="(max-width: 200px) 100vw, 200px" />				</a>
                                </div>
                                <p>Tuổi trẻ phải có ngờ &#8211; Tony Buổi Sáng Trên chuyến bay từ Los Angeles đến Tucson, Tony ngồi cạnh 2 mẹ con người Mỹ nọ. Khi biết Tony đến từ Việt Nam, họ vui vẻ lắm, nói ngày xưa Việt Nam trong ý nghĩ của tụi tao là chiến tranh, bây giờ Việt Nam là quốc gia… <span class="read-more"><a href="tuoi-tre-phai-co-ngo.html">Read More &raquo;</a></span></p>
                            </div>
                            <!-- .entry-summary -->
                            <footer class="entry-meta">
                                <div class="categories"><a href="giao-duc.html" rel="category tag">Giáo dục</a></div>
                                <div class="tags"></div>
                                <div class ="io-home-author-small" >
                                    <div class="io-home-avatar">
                                        <!-- .author-avatar -->
                                        <img alt='' src='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=24&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=48&amp;d=mm&amp;r=g 2x' class='avatar avatar-24 photo' height='24' width='24' />					
                                        <div class="io-home-author-name"><span class="vcard author"><span class="fn">Tony Buổi Sáng</span> </span></div>
                                        <div style="display: block; clear: both;"></div>
                                    </div>
                                    <!-- .author-name-home -->	
                                </div>
                                <div class="clear"></div>
                            </footer>
                            <!-- .entry-meta -->
                        </article>
                        <!-- #post -->
                        <article id="post-1365" class="post-1365 post type-post status-publish format-standard has-post-thumbnail hentry category-ngam">
                            <header class="entry-header">
                                <h2 class="entry-title">
                                    <a href="chuyen-o-quan-pho-trua.html" title="Permalink to Chuyện ở quán phở trưa" rel="bookmark">Chuyện ở quán phở trưa</a>
                                </h2>
                            </header>
                            <!-- .entry-header -->
                            <div class="entry-summary">
                                <!-- Ico nic One home page thumbnail with custom excerpt -->
                                <div class="excerpt-thumb">
                                    <a href="chuyen-o-quan-pho-trua.html" title="Permalink to Chuyện ở quán phở trưa" rel="bookmark">
                                        <img width="200" height="140" src="wp-content/uploads/2016/06/chuyen-o-quan-pho-trua-200x140.jpg" class="alignleft wp-post-image" alt="chuyen o quan pho trua" srcset="http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/chuyen-o-quan-pho-trua-200x140.jpg 200w, http://www.tonybuoisangblog.com/wp-content/uploads/2016/06/chuyen-o-quan-pho-trua-60x42.jpg 60w" sizes="(max-width: 200px) 100vw, 200px" />				</a>
                                </div>
                                <p>Chuyện ở quán phở trưa &#8211; Tony Buổi Sáng Tony sáng nay có việc lên Sài Gòn gặp khách ở khu Nguyễn Huệ quận 1, xong cái đi bộ qua đường để ăn trưa. Tới quán phở 24 thì thấy có 2 mẹ con người bán vé số đang nhìn vô quán. Người mẹ khoảng 3 chục nhưng… <span class="read-more"><a href="chuyen-o-quan-pho-trua.html">Read More &raquo;</a></span></p>
                            </div>
                            <!-- .entry-summary -->
                            <footer class="entry-meta">
                                <div class="categories"><a href="ngam.html" rel="category tag">Ngẫm</a></div>
                                <div class="tags"></div>
                                <div class ="io-home-author-small" >
                                    <div class="io-home-avatar">
                                        <!-- .author-avatar -->
                                        <img alt='' src='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=24&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/87bc2d196054cf7ddb63c532c93bcc4e?s=48&amp;d=mm&amp;r=g 2x' class='avatar avatar-24 photo' height='24' width='24' />					
                                        <div class="io-home-author-name"><span class="vcard author"><span class="fn">Tony Buổi Sáng</span> </span></div>
                                        <div style="display: block; clear: both;"></div>
                                    </div>
                                    <!-- .author-name-home -->	
                                </div>
                                <div class="clear"></div>
                            </footer>
                            <!-- .entry-meta -->
                        </article>
                        <!-- #post -->
                        <div class="themonic-pagination">
                            <div class="pagination">
                                <ul>
                                    <li><a href="http://www.tonybuoisangblog.com/">« First</a></li>
                                    <li><a href="http://www.tonybuoisangblog.com/page/5" class="inactive">‹ Previous</a></li>
                                    <li><a href="http://www.tonybuoisangblog.com/page/3" class="inactive">3</a></li>
                                    <li><a href="http://www.tonybuoisangblog.com/page/4" class="inactive">4</a></li>
                                    <li><a href="http://www.tonybuoisangblog.com/page/5" class="inactive">5</a></li>
                                    <li class="current"><span class="currenttext">6</span></li>
                                    <li><a href="http://www.tonybuoisangblog.com/page/7" class="inactive">7</a></li>
                                    <li><a href="http://www.tonybuoisangblog.com/page/8" class="inactive">8</a></li>
                                    <li><a href="http://www.tonybuoisangblog.com/page/9" class="inactive">9</a></li>
                                    <li><a href="http://www.tonybuoisangblog.com/page/7" class="inactive">Next ›</a></li>
                                    <a class="inactive" href="http://www.tonybuoisangblog.com/page/27">Last »</a>
                                </ul>
                            </div>
                        </div>
                        <div style="display: block; clear: both;"></div>
                    </div>
                    <!-- #content -->
                </div>
                <!-- #primary -->
                <div id="secondary" class="widget-area" role="complementary">
                    <aside id="text-7" class="widget widget_text">
                        <div class="textwidget">
                            <div id="SC_TBlock_123197" class="SC_TBlock">loading... </div>
                        </div>
                    </aside>
                    <aside id="search-2" class="widget widget_search">
                        <form role="search" method="get" id="searchform" class="searchform" action="">
                            <div>
                                <label class="screen-reader-text" for="s">Tìm kiếm cho:</label>
                                <input type="text" value="" name="s" id="s" />
                                <input type="submit" id="searchsubmit" value="Tìm kiếm" />
                            </div>
                        </form>
                    </aside>
                    <aside id="text-5" class="widget widget_text">
                        <div class="textwidget">
                            <!-- Begin MailChimp Signup Form -->
                            <div id="mc_embed_signup">
                                <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll">
                                        <h2>ĐĂNG KÝ NHẬN BÀI VIẾT</h2>
                                        <div class="mc-field-group">
                                            <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                            </label>
                                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                        </div>
                                        <div class="mc-field-group">
                                            <label for="mce-FNAME">Tên của bạn </label>
                                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                                        </div>
                                        <div id="mce-responses" class="clear">
                                            <div class="response" id="mce-error-response" style="display:none"></div>
                                            <div class="response" id="mce-success-response" style="display:none"></div>
                                        </div>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_896d6440f66dd78cca3f4aabe_a01ccc4cce" tabindex="-1" value=""></div>
                                        <div class="clear"><input type="submit" value="Đăng ký" name="Đăng ký" id="mc-embedded-subscribe" class="button"></div>
                                    </div>
                                </form>
                            </div>
                            <!--End mc_embed_signup-->
                        </div>
                    </aside>
                    <aside id="categories-2" class="widget widget_categories">
                        <p class="widget-title">CHUYÊN MỤC</p>
                        <label class="screen-reader-text" for="cat">CHUYÊN MỤC</label>
                        <select  name='cat' id='cat' class='postform' >
                            <option value='-1'>Chọn chuyên mục</option>
                            <option class="level-0" value="2">Chuyện kinh doanh</option>
                            <option class="level-0" value="3">Du lịch</option>
                            <option class="level-0" value="8">Đi nước ngoài</option>
                            <option class="level-0" value="4">Giáo dục</option>
                            <option class="level-0" value="5">Kỹ năng giao tiếp</option>
                            <option class="level-0" value="1">Ngẫm</option>
                            <option class="level-0" value="6">Nghệ thuật sống</option>
                            <option class="level-0" value="11">Tản mạn</option>
                            <option class="level-0" value="12">Tình nguyện</option>
                            <option class="level-0" value="7">Văn hóa công sở</option>
                        </select>
                    </aside>
                    <aside id="text-2" class="widget widget_text">
                        <p class="widget-title">XEM NHIỀU NHẤT</p>
                        <div class="textwidget">
                            <ul>
                                <li><a href="tren-duong-bang.html">TRÊN ĐƯỜNG BĂNG</a></li>
                                <li><a href="cac-ban-tre-hay-doc-du-chi-1-lan.html">CÁC BẠN TRẺ HÃY ĐỌC DÙ CHỈ 1 LẦN</a></li>
                                <li><a href="thiet-ke-cuoc-doi.html">THIẾT KẾ CUỘC ĐỜI</a></li>
                                <li><a href="toi-om-con-sao-be-bong-cua-toi.html">TÔI ÔM CON SÁO BÉ BỎNG CỦA TÔI</a></li>
                                <li><a href="chuyen-tien-chuyen-bac.html">CHUYỆN TIỀN CHUYỆN BẠC</a></li>
                                <li><a href="chuyen-o-west-point-wp.html">CHUYỆN Ở WEST POINT (WP)</a></li>
                                <li><a href="chon-ban-lam-an-bai-1.html">100 BÀI DẠY LÀM ĂN</a></li>
                                <li><a href="loi-the-hippocrates.html">LỜI THỀ HIPPOCRATES</a></li>
                                <li><a href="chuyen-thang-quan.html">CHUYỆN THẰNG QUÂN</a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside id="recent-comments-2" class="widget widget_recent_comments">
                        <p class="widget-title">COMMENT MỚI NHẤT</p>
                        <ul id="recentcomments">
                            <li class="recentcomments"><span class="comment-author-link">Ngọc</span> trong <a href="nu-nhi-thuong-tinh.html#comment-895">Nữ nhi thường tình</a></li>
                            <li class="recentcomments"><span class="comment-author-link">Mạnh linh</span> trong <a href="nu-nhi-thuong-tinh.html#comment-894">Nữ nhi thường tình</a></li>
                            <li class="recentcomments"><span class="comment-author-link">Lê Văn Hoàng</span> trong <a href="tinh-ky-luat.html#comment-891">Tính kỷ luật</a></li>
                            <li class="recentcomments"><span class="comment-author-link">vũ thị phượng</span> trong <a href="nhung-thang-ngay-khoi-nghiep.html#comment-890">NHỮNG THÁNG NGÀY KHỞI NGHIỆP</a></li>
                            <li class="recentcomments"><span class="comment-author-link">Trần Thanh Ngọc</span> trong <a href="benh-chac-an.html#comment-888">Bệnh chắc ăn</a></li>
                        </ul>
                    </aside>
                    <aside id="text-3" class="widget widget_text">
                        <p class="widget-title">NHẤN THEO DÕI NHÉ</p>
                        <div class="textwidget">
                            <div class="g-page" data-width="300" data-href="//plus.google.com/u/0/107402699926000791979" data-layout="landscape" data-showcoverphoto="false" data-rel="publisher"></div>
                        </div>
                    </aside>
                    <aside id="text-4" class="widget widget_text">
                        <p class="widget-title">NHẤN LIKE NHÉ</p>
                        <div class="textwidget"><iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Ftonybuoisangblog&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:258px;" allowTransparency="true"></iframe></div>
                    </aside>
                    <aside id="text-9" class="widget widget_text">
                        <div class="textwidget">
                            <a href="https://www.youtube.com/watch?v=9UZNux-5Kyk" target="_blank">
                                <img src="./uploads/2014/10/sach-Tony.jpg" width="300"  />
                            </a>
                        </div>
                    </aside>
                    <aside id="text-8" class="widget widget_text">
                        <div class="textwidget">
                            <a href="https://www.youtube.com/watch?v=HtfayT7QJlA" target="_blank">
                                <img src="./uploads/2015/11/sach-tren-duong-bang-tony-buoi-sang.jpg" width="300"  />
                            </a>
                        </div>
                    </aside>
                </div>
                <!-- #secondary -->
            </div>
            <!-- #main .wrapper -->

            <footer id="colophon" role="contentinfo">
                <div class="site-info">
                    <div class="footercopy">Copyright 2014</div>
                    <div class="footercredit"><a href="index.html" title="Tony Buổi Sáng">TnBS</a></div>
                    <div class="clear"></div>
                </div><!-- .site-info -->
            </footer><!-- #colophon -->

        </div><!-- #page -->
        <script type='text/javascript' src='js/selectnav5152.js'></script>
    </body>
</html>